
div {
  position: absolute;
  width: 20px;
  height: 20px;

  .note, .pause {
    position: absolute;
    bottom: -20px;

    font-size: 80px;
    cursor: pointer;
  }

  .accidental {
    position: relative;
    top: -27px;
    right: 14px;
    &.sharp, &.natural {
      top: -20px;
    }

    font-size: 40px;
  }
}