<div (click)="onNoteClick()"
    [style.top.px]="155 - (lineNo * 10)"
    [style.left.px]="100 + (horizontalPosition * 50)">

    <ng-container *ngIf="!isPause" [ngSwitch]="type">
        <span *ngSwitchCase="Type.WHOLE" class="note">𝅝</span>
        <span *ngSwitchCase="Type.HALF" class="note">𝅗𝅥</span>
        <span *ngSwitchCase="Type.QUARTER" class="note">𝅘𝅥</span>
        <span *ngSwitchCase="Type.EIGHTH" class="note">𝅘𝅥𝅮</span>
        <span *ngSwitchCase="Type.SIXTEENTH" class="note">𝅘𝅥𝅯</span>
        <span *ngSwitchCase="Type.THIRTYSECOND" class="note">𝅘𝅥𝅰</span>
        <span *ngSwitchCase="Type.SIXTYFOURTH" class="note">𝅘𝅥𝅱</span>
        <span *ngSwitchCase="Type.HUNDREDTWENTYEIGHTH" class="note">𝅘𝅥𝅲</span>
    </ng-container>

    <ng-container *ngIf="isPause" [ngSwitch]="type">
        <span *ngSwitchCase="Type.WHOLE" class="pause">𝄻</span>
        <span *ngSwitchCase="Type.HALF" class="pause">𝄼</span>
        <span *ngSwitchCase="Type.QUARTER" class="pause">𝄽</span>
        <span *ngSwitchCase="Type.EIGHTH" class="pause">𝄾</span>
        <span *ngSwitchCase="Type.SIXTEENTH" class="pause">𝄿</span>
        <span *ngSwitchCase="Type.THIRTYSECOND" class="pause">𝅀</span>
        <span *ngSwitchCase="Type.SIXTYFOURTH" class="pause">𝅁</span>
        <span *ngSwitchCase="Type.HUNDREDTWENTYEIGHTH" class="pause">𝅂</span>
    </ng-container>

    <span class="accidental sharp" *ngIf="accidental == Accidental.SHARP">♯</span>
    <span class="accidental flat" *ngIf="accidental == Accidental.FLAT">♭</span>
    <span class="accidental natural" *ngIf="accidental == Accidental.NATURAL">♮</span>
</div>