<div class="staff-container">

  <ng-container [ngSwitch]="clef">
      <div *ngSwitchCase="Clef.TREBLE" class="clef treble">𝄞</div>
      <div *ngSwitchCase="Clef.FRENCH_VIOLIN" class="clef french-violin">𝄞</div>

      <div *ngSwitchCase="Clef.ALTO" class="clef alto">𝄡</div>
      <div *ngSwitchCase="Clef.TENOR" class="clef tenor">𝄡</div>
      <div *ngSwitchCase="Clef.BARITONE_C" class="clef baritone-c">𝄡</div>
      <div *ngSwitchCase="Clef.MEZZO_SOPRANO" class="clef mezzo-soprano">𝄡</div>
      <div *ngSwitchCase="Clef.SOPRANO" class="clef soprano">𝄡</div>

      <div *ngSwitchCase="Clef.BASS" class="clef bass">𝄢</div>
      <div *ngSwitchCase="Clef.BARITONE" class="clef baritone">𝄢</div>
      <div *ngSwitchCase="Clef.SUB_BASS" class="clef sub-bass">𝄢</div>
  </ng-container>

  <ng-template ngFor let-i="index" let-c="count" let-empty [ngForOf]="helpersTopArray">
    <div class="nline outside space" (click)="onStaffClick(13 - (i * 2) + c)"></div>
    <div class="nline outside line" (click)="onStaffClick(12 - (i * 2) + c)"><div></div></div>
  </ng-template>

  <ng-template ngFor let-i="index" let-empty [ngForOf]="linesArray">
    <div class="nline inside space" (click)="onStaffClick(10 - (i * 2))"></div>
    <div class="nline inside line" (click)="onStaffClick(9 - (i * 2))"><div></div></div>
  </ng-template>
  <div class="nline inside space space-0" (click)="onStaffClick(0)"></div>

  <ng-template ngFor let-i="index" let-empty [ngForOf]="helpersBottomArray">
    <div class="nline outside line" (click)="onStaffClick(-1 - (i * 2))"><div></div></div>
    <div class="nline outside space" (click)="onStaffClick(-2 - (i * 2))"></div>
  </ng-template>

  <div class="note-container">
    <note [lineNo]="-3" [horizontalPosition]="0"></note>
    <note [lineNo]="1" [horizontalPosition]="1" [type]="Type.WHOLE" [accidental]="Accidental.NATURAL"></note>
    <note [lineNo]="2" [horizontalPosition]="2" [type]="Type.HALF" [accidental]="Accidental.SHARP"></note>
    <note [lineNo]="3" [horizontalPosition]="3" [type]="Type.EIGHTH" [accidental]="Accidental.FLAT"></note>
  </div>
</div>
