.staff-container {
  position: relative;
}

.nline {
  &.line {
    height: 10px;
    &.inside div {
      height: 4px;
      border-bottom: 2px solid black;
    }
    &.outside div {
      height: 4px;
      border-bottom: 2px solid lightgray;
    }
    &:hover {
      background-color: yellow;
    }
    cursor: pointer;
  }

  &.space {
    height: 10px;
    &:hover {
      background-color: yellow;
    }
    cursor: pointer;
  }
}

.clef {
  position: absolute;

  &.treble {
    top: 14px;
    font-size: 130px;
  }

  &.french-violin {
    top: 34px;
    font-size: 130px;
  }


  &.alto {
    top: 40px;
    font-size: 106px;
  }

  &.tenor {
    top: 20px;
    font-size: 106px;
  }

  &.baritone-c {
    top: 0px;
    font-size: 106px;
  }

  &.mezzo-soprano {
    top: 60px;
    font-size: 106px;
  }

  &.soprano {
    top: 80px;
    font-size: 106px;
  }


  &.bass {
    top: 32px;
    font-size: 100px;
  }

  &.baritone {
    top: 52px;
    font-size: 100px;
  }

  &.sub-bass {
    top: 12px;
    font-size: 100px;
  }
}