<h3>Scale</h3>
<ng-select
    [items]="scales"
    bindLabel="name"
    [ngModel]="selectedScale$ | async"
    (ngModelChange)="onScaleSelect($event)"
    [clearable]="false">
</ng-select>

<br/>

<div class="keyboard-container">
  <keyboard *ngFor="let start of [0, 12, 24]"
      (keyClick)="onKeyClick($event)"
      [start]="start"
      [specialKey]="selectedStart$ | async"
      [highlight1Keys]="scale$ | async"
      [highlight2Keys]="scale2$ | async">
  </keyboard>
</div>

<h3>Chords</h3>

<div *ngIf="chords$ | async as chords">
  <div *ngFor="let chord of chords; let i = index">
    <h4>{{getChordName(i, chord)}} <small>{{getChordDescription(i, chord)}}</small></h4>
    <div class="keyboard-container">
      <keyboard *ngFor="let start of [0, 12, 24]"
          [start]="start"
          [highlight3Keys]="chord">
      </keyboard>
      <!--
          (keyClick)="onKeyClick($event)"
          [highlight1Keys]="scale$ | async"
          [highlight2Keys]="scale2$ | async"
      -->
    </div>
  </div>
</div>
