/*
ng-select {
  display: inline-block;
  width: 400px;
}
*/

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexGrow1 {
  flex-grow: 1;
}

.content {
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
