
<div class="flexRow">
  <div class="flexGrow1"></div>
  <div class="content">

    <h1>Pianonator</h1>
    <!--
    <h2>Note and Chord Identification</h2>
    <ider></ider>
    -->
    <h2>Scale and Chord Calculator</h2>
    <scale-chord></scale-chord>

    <br/>

  </div>
  <div class="flexGrow1"></div>
</div>
