
<div>

  <key *ngFor="let k of keys"
      [style]="k.style"
      (mousedown)="onKeyDown(k.key + start)"
      (mouseup)="onKeyUp(k.key + start)"
      [special]="specialKey == (k.key + start)"
      [highlight1]="highlight1Keys && highlight1Keys.indexOf(k.key + start) >= 0"
      [highlight2]="highlight2Keys && highlight2Keys.indexOf(k.key + start) >= 0"
      [highlight3]="highlight3Keys && highlight3Keys.indexOf(k.key + start) >= 0">
  </key>

</div>
