
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;

}

h1 {
  font-size: 44px;
  font-weight: 500;
  line-height: 26.4px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 15.4px;

  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 15.4px;

  margin-top: 40px;
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 15.4px;

  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

label {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}

blockquote {
  font-size: 21px;
  line-height: 30px;
}

pre {
  font-size: 13px;
  line-height: 18.5667px;
}
